fastapi
uvicorn[standard]
python-dotenv # .env 파일 로드
pandas
python-dateutil
scikit-learn  # 임베딩 유사도 계산
scipy         # 클러스터 병합
hdbscan       # 밀도 기반 클러스터링
matplotlib
openai        # 리뷰 요약/라벨링
kss           # 한국어 문장 분리
reportlab     # PDF 생성

# PROD
boto3         # AWS S3 연동
mangum        # FastAPI on AWS Lambda
